* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

body {
    padding: 2rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #ffffff, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    zoom: 50%; /* Definindo zoom de 50% na página */
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.image-1,
.image-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-1 {
    width: 175px;
}

.image-2 {
    width: 250px;
}

.btn {
    min-width: 120px;
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    outline: none;
    border: none;
    background-color: #FF1493;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.btn-no:hover {
    background-color: #FF69B4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-no:hover {
    background-color: #FF69B4;
}

/* Adicionando uma regra para alterar a cor quando o mouse está a 5 cm do botão */
.btn-no:hover {
    background-color: #FF69B4;
}

/* Adicionando uma regra para alterar a cor quando o mouse está a 5 cm do botão */
.btn-no:hover {
    background-color: #FF69B4;
}


.btn-yes,
.btn-no {
    position: absolute;
    bottom: 2rem;
    left: calc(50% - 60px); /* Ajuste manual para centralizar os botões */
    /* Adicionando margem para evitar que o botão "No" seja cortado */
    margin-left: 20px;
}

.btn-no {
    min-width: 100px; /* Aumentando a largura em 20% */
    min-height: 35px; /* Aumentando a altura em 20% */
    /* Adicionando transição ao background para evitar o efeito de corte */
    
    margin-left: 50px;
}
